<div>
	<div ng-include="'menu.html'"></div>
	<snap-dragger></snap-dragger>
	<snap-content snap-opt-tap-to-close="false" class="bg-dark">
		<a href="" snap-toggle="left" ng-click="menuOpen = !menuOpen">
			<span class="menutoggle">
				<i ng-hide="menuOpen" class="fa fa-bars fa-2x" ></i>
				<i ng-show="menuOpen" class="fa fa-times fa-2x" ></i>
			</span>
		</a>
		
		<div class="fr">
		<h2>My Feedback</h2>
		</div>
		<!--<span class="glyphicon glyphicon-dashboard bg-fade"></span>-->
		<div class="jumbotron" style="padding-left: 30px;">
			<div class="container" style="margin: 0;">
				<div class="col-sm-12 col-md-12">
					<div class="card">
						<img src="images/strong.png" alt="John" style="width:100%">
						<h5>{{profileData.name}}</h5>
						<p class="title">{{profileData.role}}</p>
					</div>
					<!--<ul class="profile-list">
						<li>Username:</li>
						<li>Robert Key</li>
					</ul>-->
				</div>

				<div class="col-sm-12 col-md-12" style="height:320px;overflow-y:auto;overflow-x:hidden">
					<h4 style="margin-bottom: 24px">My Report</h4>
					<div class="rating-block" ng-repeat="rating in ratingData">
						<ul class="profile-list">
							<li>Rating:</li>
							<li><strong>{{rating.rating}}</strong>/5</li>
						</ul>
						<ul class="profile-list">
							<li>Comments:</li>
							<li>{{rating.comment}}</li>
						</ul>
						<ul class="profile-list">
							<li>Time:</li>
							<li>{{rating.time}}</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</snap-content>	
</div>
