<snap-drawer cache-view="false">
    <div class=snap-menu>
        <div class="sidebar-header text-center">
            <img src=images/flat-avatar.png class="sidebar-img img-circle">
        </div> 

        <ul class=snap-ul cache-view="false">
            <li data-ng-repeat="item in menuItems" ng-class="{active: $state.includes('{{item.name}}') }">
                <a data-ui-sref={{item.name}} data-ui-sref-opts="{reload: true}" ng-click="stateChange()">{{item.text}}</a>
            </li>
            <!--<li>
                <a ui-sref={{item.name}} ng-click="stateChange('dashboard')">Dashboard</a>
            </li>
            <li>
                <a ui-sref="profile" href=".">My Feedback</a>
            </li>
            <li>
                <a ng-click="stateChange()">Logout</a>
            </li>-->
        </ul>
    </div>
</snap-drawer> 
